extends layout

block content
  #main
    include sidebar
    h1.text-center
      a(style="padding:1em;", href="/") 404 Not Found
    p.text-center I'm truly sorry, but I cannot find url: <code>#{req.url}</code>
    hr.large
    form(action="/search", method="GET")#search.text-center.blog-search
      label(for="q") Search:
      input(type="text", name="q", id="q")
      button Submit