doctype 5
html
  head
    title #{title || 'Joshua Beckman (jbckmn)'}
    meta(name="viewport", content="width=device-width")
    link(rel='icon', href="/images/favicon.png")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    main.container
      #content.pure-g-r.day(style="height:90vh;")
        .pure-u-1-8
        .pure-u-3-4
          h1.text-center
            code 404
          h2 Apologies, but I don't know what you mean by: <br>
            small(style='word-wrap:break-word;font-family:"Open Sans";') "#{url}"
          h2.name-header
            a(href="/") HOME
