extends layout

block content
  h1.text-center
    a.boxed(style="padding:1em;", href="/") 404 Not Found
  p.lede.boxed.text-center Cannot find url: <code>#{req.url}</code>
  p.lede.boxed.text-center
    a(href="http://www.andjosh.com", rel="home") www & Josh
  .foobar(style="height:1000px;")
  include bijoubit