extends layout

block content
  #heady
    h1.font-med.headline
      a(href="/") #{subnet} & Josh
    ul.top-links
      li
        span Josh Beckman is a full-stack-data-designer-developer-dude.
      li
        a(href="http://www.andjosh.com", title="www & Josh").ga-link-trackable andjosh.com
      li
        a(href="http://words.andjosh.com", title="Words & Josh").ga-link-trackable Blog
  .pure-g-r
    .pure-u-1(itemscope, itemtype="http://schema.org/Person")
      meta(itemprop="name", content="Joshua Beckman")
      meta(itemprop="url", content="http://andjosh.com")
      meta(itemprop="alternateName", content="jbckmn")
      meta(itemprop="jobTitle", content="full-stack-data-designer-developer-dude")
      img.post-image(itemprop="image", src="/images/aboutJoshBeckman.jpg", alt="Josh Beckman")
      article.article-wrap
        .post-body(itemprop="description") 
          p(style="border-top:1px solid #aaa;") I'm head developer at Aggrego and one-half of <a href="http://teamjosh.co">Team Josh</a>. 
          p I post regularly on <a href="http://words.andjosh.com">my blog</a>, somewhat often on <a href="http://twitter.com/jbckmn">Twitter</a>, push code very often to <a href="http://github.com/jbckmn">GitHub</a> and shoot infrequently to <a href="http://dribbble.com/jbckmn">dribbble</a>. My <a href="http://api.andjosh.com">personal API</a> is constantly updated.
          h3 Recent Timeline
          ul(style="list-style-type:circle;")
            li Currently working as Head Developer at Aggrego in Chicago
            li Currently writing prose, Ruby, JavaScript, Python, Objective-C, CoffeeScript, Go, PHP, CSS, HTML, SQL, NoSQL
            li Graduated with a degree in Computational Neuroscience, aced the MCAT (95<sup>th</sup> percentile)
            li Worked as an EMT, rose to Director of Operations
            li Worked as a photojournalist and photo editor for a handful of news organizations
          h3 Contact
          p If you want to start a project together, checkout what <a href="//you.andjosh.com">You & Josh</a> can do. I respond pretty quickly on <a href="http://twitter.com/jbckmn">Twitter</a> and faster via <a href="mailto:jsh@bckmn.com?subject=...Just came from your about page">email</a>. I accept donations securely on <a href="//payments.andjosh.com">my payments page</a>.
          br
  p.blog-post-date
    a(href="http://www.andjosh.com", rel="home") www & Josh
  .foobar(style="height:200px;")
  include bijoubit