extends layout

block content
  #heady
    include bijousvg
    .blog-heady-wrap
      h1.font-med.headline
        a(href="/") #{subnet} & Josh
      ul.top-links
        li
          a(href="http://www.andjosh.com", title="www & Josh").ga-link-trackable andjosh.com
        li
          a(href="http://words.andjosh.com", title="Words & Josh").ga-link-trackable Blog
        li
          a(href="http://api.andjosh.com", title="API & Josh").ga-link-trackable API
  .pure-g-r
    .pure-u-1(itemscope, itemtype="http://schema.org/Person")
      meta(itemprop="name", content="Joshua Beckman")
      meta(itemprop="url", content="http://andjosh.com")
      meta(itemprop="alternateName", content="jbckmn")
      meta(itemprop="jobTitle", content="full-stack-data-designer-developer-dude")
      img.post-image(itemprop="image", src="/images/aboutJoshBeckman.jpg", alt="Josh Beckman")
      article.article-wrap
        .post-body(itemprop="description") 
          p(style="border-top:1px solid #aaa;") I'm head developer at Aggrego and one-half of <a href="http://teamjosh.co">Team Josh</a>. 
          p I post regularly on <a href="http://words.andjosh.com">my blog</a>, somewhat often on <a href="http://twitter.com/jbckmn">Twitter</a>, push code very often to <a href="http://github.com/jbckmn">GitHub</a> and shoot infrequently to <a href="http://dribbble.com/jbckmn">dribbble</a>. My <a href="http://api.andjosh.com">personal API</a> is constantly updating itself.
          h3#timeline Recent Timeline 
            small
              a(href="#timeline").icon-link
          ul(style="list-style-type:circle;")
            li Currently working as Head Developer at Aggrego in Chicago, a couple years now
            li Currently writing prose, Ruby, JavaScript, Python, Objective-C, CoffeeScript, Go, PHP, CSS, HTML, SQL, NoSQL
            li Graduated with a degree in Computational Neuroscience, aced the MCAT (95<sup>th</sup> percentile)
            li Worked as an EMT, rose to Director of Operations
            li Worked as a photojournalist and photo editor for a handful of news organizations
          h3#connect Connect 
            small
              a(href="#connect").icon-link
          p If you want to start a project together, checkout what <a href="//you.andjosh.com">You & Josh</a> can do. I respond pretty quickly on <a href="http://twitter.com/jbckmn">Twitter</a> and faster via <a href="mailto:jsh@bckmn.com?subject=...Just came from your about page">email</a>. I accept donations securely on <a href="//payments.andjosh.com">my payments page</a>.
          hr
          h2#colophon Colophon 
            small
              a(href="#colophon").icon-link
          h4 Typography
          p This site is based on a single-column, 70-character typographic grid. I've chosen the font <a href="https://en.wikipedia.org/wiki/Futura_(typeface)", target="_blank">Futura</a> (nearly in it's 90<sup>th</sup> year) for its legibility and beautiful geometry.
          h4 Design
          p I constantly alter the design of this site. I will never stop having new [better?] ideas.
          h4 Technical
          p This site runs on a custom Node.js server backed by MongoDB. The blog is authored using a custom CMS and publishing interface. It is served in HTML5 and complies with web standards as set by the W3C. IE8 users may not be able to see some animations &mdash; <em>my sincerest apologies</em>.
          br
  p.blog-post-date
    a(href="http://www.andjosh.com", rel="home") www & Josh
  .foobar(style="height:200px;")
