#building-blocks(name="bijou")
  a(href="http://twitter.com/jbckmn", rel="me", title="Follow me on Twitter") @jbckmn
  .building-block.color-me(data-top="20", data-left="40", data-rotate="25", data-height="60")
  .building-block.color-me(data-top="77", data-left="27", data-rotate="0", data-height="36")
  .building-block.color-me(data-top="20", data-left="40", data-rotate="16", data-height="95")
  .building-block.color-me(data-top="18", data-left="64", data-rotate="330", data-height="45")
  .building-block.color-me(data-top="51", data-left="51", data-rotate="42", data-height="72")
  .building-block.color-me(data-top="60", data-left="75", data-rotate="0", data-height="75")
  .building-block.color-me(data-top="97", data-left="51", data-rotate="294", data-height="54")
  .building-block.color-me(data-z-index="-110", data-top="91", data-left="59", data-rotate="319", data-height="50")
  .building-block.color-me(data-z-index="-110", data-top="77", data-left="31", data-rotate="143", data-height="13")
  