svg#bijou
  line.too(x1='30', x2='36', y1='43', y2='53', stroke='none', style='')
  line.loo(x1='70', x2='43', y1='96', y2='61', stroke='none', style='')
  line.foo(x1='30', x2='30', y1='43', y2='75', stroke='none', style='')
  line.boo(x1='70', x2='70', y1='35', y2='95', stroke='none', style='')
  line.fool(x1='30', x2='70', y1='75', y2='95', stroke='none', style='')
  line.bool(x1='30', x2='50', y1='43', y2='5', stroke='none', style='')
  line.cool(x1='70', x2='50', y1='35', y2='5', stroke='none', style='')
  line.nool(x1='50', x2='30', y1='5', y2='75', stroke='none', style='')
  line.doo(x1='70', x2='30', y1='35', y2='75', stroke='none', style='')