extends layout

block content
  h1.text-center
    a.boxed(style="padding:1em;", href="") Bijou
  p.lede.boxed.text-center &#x25BF; Scroll &#x25BF;
  .foobar(style="height:1000px;")
  include bijoubit
