extends layout

block content
  #heady
    h1.font-med.headline
      a(href="/") #{subnet} & Josh
    ul.top-links
      li
        span gatrack.js let's you easily track user events with Google Analytics.
      li
        a(href="http://github.com/jbckmn/gatrack.js", title="gatrack.js on GitHub").ga-link-trackable Fork on GitHub
      li
        a(href="http://words.andjosh.com", title="gatrack.js blog post").ga-link-trackable Blog post
      li
        a(href="http://www.andjosh.com", title="www & Josh").ga-link-trackable andjosh.com
  .pure-g-r
    .pure-u-1
      article.article-wrap
        .post-body
  p.blog-post-date
    a(href="http://www.andjosh.com", rel="home") www & Josh
  .foobar(style="height:200px;")
  include bijoubit