extends layout

block content
  #content.pure-g-r
    #hero.pure-u-1
      h1 #{title}
      p(onclick="jshBckmn.setRandomThought(this);")#thoughtBubble.lead.hint
    #contact.pure-u-1-2
      h3
        a(href="mailto:jsh@bckmn.com?subject=Yo, I saw your website!") jsh@bckmn.com
      h4 847.975.7110
      h2
        a.btn(href="/api") Access my API
      h3
        del.muted Too busy.
        br
        |  Looking for projects.

    #about.pure-u-1-2
      p <a href="http://naked-wordpress.bckmn.com" target="_blank">Naked Wordpress</a> is a commented theme and Wordpress guide for designers and developers, open-sourced and freely available. With <a href="http://atomist.co" target="_blank">Atomist.co</a>, searching your thoughts has never been more fruitful. <a href="http://ontrack.io" target="_blank">OnTrack.io</a> lets you start seeing yourself, graphed. <a href="/polarpageviews" target="_blank">Polar Pageviews</a> shows you data from your Google Analytics properties by day, week & month from the previous 365 days. <a href="http://weekaway.com" target="_blank">WeekAway.com</a> allows you to discover unique things to do and ask the locals questions. <a href="http://rankommend.com" target="_blank">Rankommend.com</a> finds the best service providers in Chicagoland.
      h3
        a(onclick="openStrip('latest');") Latest
      h3
        a(onclick="openStrip('falling');") Faces of The Falling
      h3
        a(onclick="openStrip('illiniImprov');") Illini Improv: Behind The Curtain
      h3
        a(onclick="openStrip('sports');") Sporting Fun
      h3
        a(href="https://medium.com/joe-mctigue", target="_blank") Joe McTigue
      
      ul#repos-list
  .pure-g-r
    .pure-u-1.lightbox.transition
      ul#strip.gallery
  
  include repoCaller
  include scrollTo
  include creator
  script
    window.jshBckmn = {
      setRandomThought: function(elem){
        elem.innerText = (jshBckmn.thoughts[Math.floor(Math.random() * jshBckmn.thoughts.length)] + '.');
        elem.style.opacity = '1';
      },
      thoughts: !{JSON.stringify(thoughts)}
    };
    var setFirstThought = window.setTimeout(jshBckmn.setRandomThought, 1000, document.getElementById('thoughtBubble'));
    function openStrip(set){
      document.body.style.background = 'rgba(0,0,0,0.8)';
      var images = !{JSON.stringify(images)},
          imageSrc = !{JSON.stringify(imageSrc)},
          lb = document.getElementsByClassName('lightbox')[0],
          lbHeight = 460;
      lb.style.height = lbHeight.toString()+'px';
      scrollTo(document.body, lbHeight-(window.innerHeight - document.getElementById('content').clientHeight), 1250);
      loadImages(imageSrc, document.getElementById('strip'), images[set], function(){
        var imgs = document.getElementsByClassName('gallery-image'),
            indMargin = 3,
            totalWidth = 0;
        if(imgs.length == images[set].length){
          for(i=0;i<imgs.length;i++){
            totalWidth += imgs[i].offsetWidth+(indMargin*2);
          }
          totalWidth < window.innerWidth ? totalWidth = window.innerWidth : totalWidth = totalWidth;
          document.getElementsByClassName('gallery')[0].style.width = totalWidth.toString()+'px';
        }
      });
    }
    function loadImages(imageSrc, gal, imageSet, callback){
      gal.innerHTML = '';
      for(i=0;i<imageSet.length;i++){
        var li = create('li',{});
        li.appendChild(
          create('img',{
            className: 'gallery-image',
            src: imageSrc+imageSet[i].src,
            alt: imageSet[i].alt,
            onload: callback,
            title: imageSet[i].alt
          })
        );
        gal.appendChild(li);
      }
    }