script.
  function openStrip(set){
    document.body.style.background = 'rgba(0,0,0,0.8)';
    classie.add(document.getElementsByTagName('main')[0], 'lightboxed');
    var images = !{JSON.stringify(images)},
        imageSrc = !{JSON.stringify(imageSrc)},
        lb = document.getElementsByClassName('lightbox')[0],
        lbHeight = 560;
    lb.style.height = lbHeight.toString()+'px';
    scrollTo(document.body, lbHeight-(window.innerHeight - document.getElementById('content').clientHeight), 1250);
    loadImages(imageSrc, document.getElementById('strip'), images[set], function(){
      var imgs = document.getElementsByClassName('gallery-image'),
          indMargin = 3.5,
          totalWidth = 0;
      if(imgs.length == images[set].length){
        for(i=0;i<imgs.length;i++){
          totalWidth += imgs[i].offsetWidth+(indMargin*2);
        }
        totalWidth < window.innerWidth ? totalWidth = window.innerWidth : totalWidth = totalWidth;
        document.getElementsByClassName('gallery')[0].style.width = totalWidth.toString()+'px';
      }
    });
  }
  function loadImages(imageSrc, gal, imageSet, callback){
    gal.innerHTML = '';
    for(i=0;i<imageSet.length;i++){
      var li = create('li',{});
      if(imageSet[i].src){
        li.appendChild(
          create('img',{
            className: 'gallery-image',
            src: imageSrc+imageSet[i].src,
            alt: imageSet[i].alt,
            onload: callback,
            title: imageSet[i].alt
          })
        );
      }else{
        li.appendChild(
          create('p',{
            className: 'gallery-image lead',
            onload: callback,
            innerText: imageSet[i].text
          })
        );
      }
      gal.appendChild(li);
    }
  }