a(href="mailto:jsh@bckmn.com?subject=Yo, I saw your website!") jsh@bckmn.com
  img(src="http://s3.amazonaws.com/bckmn/public/about/jsh.jpg", alt="Joshua Beckman").face-img
a(href="http://twitter.com/jbckmn", target="_blank") @jbckmn
br
a(href='/rss.xml') RSS
a(href='/api') API Access
a(onclick="document.getElementById('menu-stories').style.display = 'inherit';this.style.fontWeight = '700';") Visuals & Stories
#menu-stories(style='display:none;padding-left:1em;')
  a(href="https://medium.com/joe-mctigue", target="_blank") Joe McTigue
  a(onclick="openStrip('illiniImprov');menuToggle();") Illini Improv: Behind The Curtain
  a(onclick="openStrip('sports');menuToggle();") Sporting Fun
  a(onclick="openStrip('falling');menuToggle();") Faces of The Falling
  a(onclick="openStrip('latest');menuToggle();") Latest
a(onclick="document.getElementById('menu-projects').style.display = 'inherit';this.style.fontWeight = '700';") Projects
#menu-projects(style='display:none;padding-left:1em;')
  a(href="http://naked-wordpress.bckmn.com", target="_blank") Naked Wordpress
  a(href="/stark-lines", target="_blank") Stark Lines
  a(href="http://atomist.co", target="_blank") Atomist.co
  a(href="http://ontrack.io", target="_blank") OnTrack.io
  a(href="/polarpageviews", target="_blank") Polar Pageviews
  a(href="http://weekaway.com", target="_blank") WeekAway.com
  a(href="http://rankommend.com", target="_blank") Rankommend.com
br
input(type="text", placeholder="Search...")#search-field
input(type="submit", value="GO")#search-submit
br
p
  del Too Busy
  |  Looking for projects
