a.name-link(href="/") Joshua Beckman
  img(src="http://s3.amazonaws.com/bckmn/public/about/jsh-mini.jpg", alt="Joshua Beckman").face-img
a(href="mailto:jsh@bckmn.com?subject=Yo, I saw your website!") jsh@bckmn.com
a(href="http://twitter.com/jbckmn", target="_blank") @jbckmn
br
a(href='/rss.xml') RSS
a(href='/api') API
a(onclick="document.getElementById('menu-stories').style.display = 'inherit';this.style.fontWeight = '700';") Visuals & Stories
#menu-stories(style='display:none;padding-left:1em;')
  a(href="https://medium.com/joe-mctigue", target="_blank") Joe McTigue
  a(onclick="openStrip('illiniImprov');") Illini Improv: Behind The Curtain
  a(onclick="openStrip('sports');") Sporting Fun
  a(onclick="openStrip('falling');") Faces of The Falling
  a(onclick="openStrip('latest');") Latest
