script.
  (function(){
    var nightables = document.getElementsByClassName('day'),
        i = 0,
        length = nightables.length,
        d = new Date(),
        h = d.getHours();
    if (h > 19 || h < 7) {
      for(; i < length; i++) {
        nightables[i].className += ' night';
      }
    }
  })();