extends layout

block content

  #content.pure-g-r
    .pure-u-1(style="height:90vh;")
      h1= title
      p It seems there was a problem with your card. Please 
        a(href="/pay") try again
        |.