extends layout

block content
  #main
    h2
      a(href="/") Payments and Josh Beckman
    p I genuinely appreciate any domation you can make toward my existing work. You can read more about me at 
      a(href="http://andjosh.com", title="andjosh.com").ga-link-trackable andjosh.com
      | .
    hr.large
    article
      h1= title
      - var d = new Date;
      p It seems there was a problem with your card. Please 
        a(href="/pay") try again
        | .