extends layout

block content
    // link(rel="stylesheet", href="/stylesheets/odometer-theme-default.css")
    link(rel="stylesheet", href="/stylesheets/sitebeat.css")
    button#main-menu-button.menu-toggle-button
      span Menu
    nav#cbp-spmenu-right.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-right
      include menuItems
    .pure-g-r
      .pure-u-1
        #controls
          button#reload-button.hidden(onclick='location.reload()') Restart
        #options
          br
          h1.borders(style="margin-left:0px;") <small><del class="muted">BLURRED</del></small> STARK LINES
          .pure-g-r
            .pure-u-1-2.text-center
              br
              br
              button#authorize-button(style="color:green;opacity:0.75;font-size:3em;") Begin
              br
              br
              br
small Your data will not be stored, no registration necessary. <br>It all runs in your browser.<br>(<a href="http://www.bckmn.com/blog/stark-lines" target="_blank">Read about it here.</a>)
            .pure-u-1-2
              blockquote Google Analytics won't let you see all of your <span style="text-decoration:underline;">live visitors</span>, across multiple sites, together?
                br
                em "How boring!"
              p.lead We can fix that.
              p Just imagine that this window is <strong>10 minutes wide</strong>, updating <strong>every 10 seconds</strong>.
                br
                | <strong>Click</strong> on any profile to go directly to it in Google Analytics.
                br
                | The <strong>top page</strong> for each profile will show up beneath it.
            .pure-u-1.text-center
              br
              br
              img(src="http://s3.amazonaws.com/bckmn/public/misc/stark-lines.png")
        #counters.text-center.pure-g-r
    #graph1.aGraph(style='width: 100%; height: 100%;')
    #social-links.text-center(style='margin-top:100px;')
      a(href='http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.bckmn.com/stark-lines&p[images][0]=&p[title]=Stark%20Lines:%20Realtime%20Google%20Analytics%20Comparison&p[summary]=', target='_blank', style='border-top: 2px solid #3B5998;border-bottom: 2px solid #3B5998;color: #3B5998;padding:0 3px;margin:0 3px;') Share on FB
      a(href='http://twitter.com/home?status=Stark%20Lines%20-%20Realtime%20Google%20Analytics%20Comparison:%20http://www.bckmn.com/stark-lines%20from%20@jbckmn', target='_blank', style='border-top: 2px solid #55acee;border-bottom: 2px solid #55acee;color: #55acee;padding:0 3px;margin:0 3px;') Tweet
      a(href='https://plus.google.com/share?url=http://www.bckmn.com/stark-lines', target='_blank', style='border-top: 2px solid #dd4b39;border-bottom: 2px solid #dd4b39;color: #dd4b39;padding:0 3px;margin:0 3px;') Share on G+
    #divvy.tooltip(style='opacity:0;')
    script(src='/javascripts/d3.v3.min.js')
    // script(type='text/javascript', src='/javascripts/odometer.min.js')
    script(type='text/javascript', src='/javascripts/starkLines.min.js')
