script
  var reposList = document.getElementById('repos-list'),
  repoLoad = function(data){
    if (!data || !data.data || !data.data.length) return;
    var repositories = data.data,
      html = '';
    repositories.sort(function(a, b){
      var aFork = a.fork, bFork = b.fork;
      if (aFork && !bFork) return 1;
      if (!aFork && bFork) return -1;
      return new Date(b.pushed_at) - new Date(a.pushed_at);
    });
    var image = repositories[1].owner.avatar_url;
    var l = repositories.length, lp = 0, lf = 0, w = 0, f = 0;
    for (var i=0; i<l; i++){
      var r = repositories[i],
        fork = r.fork ? ' class="fork"' : '',
        watchers = r.watchers,
        forks = r.forks;
      w += r.watchers;
      f += r.forks;
      fork ? lf++ : lp++;
      if(r.fork!=true){
        html += '<li' + fork + '>'
          + '<a href="' + r.html_url + '">'
          + '<span class="info"><b class="language ' + (r.language || '') + '">' + (r.language || '') + '</b> <b class="stars">' + watchers + '</b> <b class="forks">' + forks + '</b></span>'
          + '<b>' + r.name + '</b> '
          + '<span class="desc">' + r.description + '</span>'
          + '</a>';
      }
    }
    reposList.innerHTML = html;
  },
  callForRepos = function(){
    var script = document.createElement('script');
    script.src = "https://api.github.com/users/jbckmn/repos?callback=repoLoad&per_page=100";
    document.body.appendChild(script);
  };
