header
  if posts
    h1(title="Josh Beckman")
      a(href="/", title="Josh Beckman").ga-link-trackable <img src="/images/amp.png" alt="and josh ampersand" width="27" height="27" style="vertical-align:text-top;"/> and Josh
  else 
    h2(title="Josh Beckman")
      a(href="/", title="Josh Beckman").ga-link-trackable <img src="/images/amp.png" alt="and josh ampersand" width="27" height="27" style="vertical-align:text-top;"/> and Josh
  ul
    li
      a(href="/about").ga-link-trackable About
    li
      a(href="/rss.xml", title="RSS Feed").ga-link-trackable RSS feed
    //- li
    //-   a(href="http://tinyletter.com/andjosh", title="Newsletter").ga-link-trackable newsletter
    li
      a(href="http://api.andjosh.com", title="API").ga-link-trackable API
    li
      a(href="http://nareta.co", title="Listen to your reading list anywhere. Nareta will take your bookmarked articles and read them back to you.").ga-link-trackable Nareta
    li
      a(href="http://github.com/jbckmn/gatrack.js", title="Easily track user any events with Google Analytics.").ga-link-trackable gatrack.js
    li
      a(href="http://naked-wordpress.bckmn.com", title="The solution for designers who don't know WordPress.").ga-link-trackable Naked WordPress