.sole
  ul.ga-click-trackable(data-gatrack-action="Sole links")
    li
      a(href="http://naked-wordpress.bckmn.com", target="_blank", title="WordPress templates for designers who don't know WordPress") Naked WordPress
    li
      a(href="/stark-lines", target="_blank", title="Google Analytics Realtime Comparison Tool") Stark Lines
    li
      a(href="/soundcloud-animations", target="_blank", title="Experimenting with loading or music playback animations for SoundCloud") SoundCloud Logo Animations
    li
      a(href="http://ontrack.io", target="_blank", title="Stark seeing yourself, graphed") OnTrack.io
    li
      a(href="/polarpageviews", target="_blank", title="View data from your Google Analytics properties by day, week & month from the previous 365 days.") Polar Pageviews
    li
      a(href="http://www.aislin.co", target="_blank", title="The best little image analysis API out there") Aislin