.sole
  ul.ga-click-trackable(data-gatrack-action="Sole links")
    li
      a(href="/api").ga-link-trackable API
    li
      a(href="/blog").ga-link-trackable Blog
    li
      a(href='/rss.xml').ga-link-trackable RSS
    li
      a(href="http://twitter.com/jbckmn", rel="me").ga-link-trackable Twitter
    li
      a(href="http://github.com/jbckmn", rel="me").ga-link-trackable GitHub
    li
      a(href="mailto:jsh@bckmn.com?subject=...Just came from your site").ga-link-trackable Email