script
  var len = 100;
  var p = document.getElementsByClassName('truncate');
  if (p) {
    for(i=0;i<p.length;i++){
      var trunc = p[i].innerHTML;
      if (trunc.length > len) {

        /* Truncate the content of the P, then go back to the end of the
           previous word to ensure that we don't truncate in the middle of
           a word */
        trunc = trunc.substring(0, len);
        trunc = trunc.replace(/\w+$/, '');

        /* Add an ellipses to the end and make it a link that expands
           the paragraph back to its original size */
        trunc += '<a href="#" ' +
          'onclick="this.parentNode.innerHTML=' +
          'unescape(\''+escape(p[i].innerHTML)+'\');return false;">' +
          '...<\/a>';
        p[i].innerHTML = trunc;
      }
    }
  }
