script
  var TIMEOUT = 20000;
  var lastTime = (new Date()).getTime();

  setInterval(function() {
    var currentTime = (new Date()).getTime();
    if (currentTime > (lastTime + TIMEOUT + 2000)) {
      awake();
    }
    lastTime = currentTime;
  }, TIMEOUT);