extends layout

block content
  #heady
    h1.font-med.headline
      a(href="/") #{subnet} & Josh
    ul.top-links
      li
        span Josh Beckman is a full-stack-data-designer-developer-dude.
      li
        a(href="http://you.andjosh.com", title="you & Josh").color-me.ga-link-trackable You & Josh should work together.
      li
        a(href="http://about.andjosh.com", title="about & Josh").color-me.ga-link-trackable About
      li
        a(href="mailto:jsh@bckmn.com?subject=Just came from www.andjosh.com", title="Email Josh").color-me.ga-link-trackable Email
      li
        a(href="http://words.andjosh.com", title="words & Josh").color-me.ga-link-trackable Blog
      li
        a(href="http://api.andjosh.com", title="API & Josh").color-me.ga-link-trackable API 
  #content.pure-g-r
    .pure-u-1-2
      a(href="http://starklin.es", title="See all of your live visitors, across multiple sites, in one real-time graph.").ga-link-trackable.a-project.boxed.stark
        h3.text-center Stark Lines
    .pure-u-1-2
      a(href="http://aislin.co", title="The best little image analysis API out there.").ga-link-trackable.a-project.boxed.aislin
        h3.text-center Aislin
    .pure-u-1-2
      a(href="http://github.com/jbckmn/gatrack.js", title="Easily track user any events with Google Analytics.").ga-link-trackable.a-project.boxed.gatrackjs
        h3.text-center gatrack.js
    .pure-u-1-2
      a(href="http://naked-wordpress.bckmn.com", title="The solution for designers who don't know WordPress.").ga-link-trackable.a-project.boxed.naked-wordpress
        h3.text-center Naked WordPress
    .pure-u-1
      a(href="http://unfavoriter.com", title="Automatically clean out your old Twitter favorites.").ga-link-trackable.a-project.boxed.unfavoriter
        h3.text-center The Unfavoriter
  include bijoubit
  script(src="/javascripts/vendor/d3.v3.min.js")