extends layout

block content
  #main(itemscope, itemtype="http://schema.org/Person")
    meta(itemprop="name", content="Joshua Beckman")
    meta(itemprop="url", content="http://andjosh.com")
    meta(itemprop="alternateName", content="jbckmn")
    meta(itemprop="image", content="http://andjosh.com/images/aboutJoshBeckman.jpg")
    .text-center
      include bijousvg
    h1
      a(href="/") Josh Beckman
    article
      p(itemprop="description") I build things for the internet and for your phones. I can be reached at 
        a(href="mailto:email@andjosh.com?subject=Just came from www.andjosh.com", title="Email Josh").ga-link-trackable email@andjosh.com
        | . I blog at 
        a(href="http://words.andjosh.com", title="words & Josh").ga-link-trackable words.andjosh.com
        | . I maintain a 
        a(href="http://api.andjosh.com", title="API & Josh").ga-link-trackable personal API
        | . I tweet infrequently on 
        a(href="http://twitter.com/jbckmn", title="@jbckmn").ga-link-trackable Twitter
        | .
    article
      h6 Recent post
      for p in posts
        h3
          a.blog-post-link(href="/post/#{p.slug}") #{p.title}
    article
      h6 Recent Work
      p
        a(href="http://nareta.co", title="Listen to your reading list anywhere. Nareta will take your bookmarked articles and read them back to you.").ga-link-trackable Nareta
        | &nbsp;&mdash;&nbsp;
        a(href="http://github.com/jbckmn/gatrack.js", title="Easily track user any events with Google Analytics.").ga-link-trackable gatrack.js
        | &nbsp;&mdash;&nbsp;
        a(href="http://naked-wordpress.bckmn.com", title="The solution for designers who don't know WordPress.").ga-link-trackable Naked WordPress
        | &nbsp;&mdash;&nbsp;
        a(href="http://aislin.co", title="The best little image analysis API out there.").ga-link-trackable Aislin
        | &nbsp;&mdash;&nbsp;
        a(href="http://starklin.es", title="See all of your live visitors, across multiple sites, in one real-time graph.").ga-link-trackable Stark Lines