extends layout

block content
  #main
    .text-center
      canvas#canvas.canvas(title="Time is not a constant. Click to save this moment.")
    h1
      a(href="http://andjosh.com") Josh Beckman
    p I build things for the internet and for your phones. I consult on tech assets and architecture as well as work on freelance projects.
    p What do you do? Whatever, I'm sure we would enjoy talking. 
    p Email me: 
      a(href="mailto:email@andjosh.com?subject=I want to work with you!", title="Email Josh").ga-link-trackable email@andjosh.com
      | . Tweet at me: 
      a(href="http://twitter.com/jbckmn", title="@jbckmn").ga-link-trackable @jbckmn
      | . 
    p My home page is at 
      a(href="http://andjosh.com", title="andjosh.com").ga-link-trackable andjosh.com
      | .
  script.
    (function(window, document){
      var canvas = document.getElementById('canvas'),
        context = canvas.getContext('2d'),
        height = canvas.parentNode.clientHeight/2,
        width = canvas.parentNode.clientWidth/2,
        radius = Math.sqrt(width / 2 * width / 2 + height / 2 * height / 2) + 5,
        theta = Math.PI * (3 - Math.sqrt(5)),
        spacing = 3 + Math.log((new Date).getHours()+1),
        size = 1,
        speed = 1,
        index = 0,
        total = (radius * radius) / (spacing * spacing),
        vendor = ["", "-webkit-", "-moz-", "-ms-", "-o-"]
          .reduce(function(p, v) { return v + "transform" in document.body.style ? v : p; });
      canvas.height = canvas.width = radius * 2;
      canvas.style.left = width / 2 - radius + "px";
      canvas.style.top = height / 2 - radius + "px";
      canvas.width = radius * 2;
      canvas.height = radius * 2;
      canvas.style[vendor + "transform-origin"] = radius + "px " + radius + "px";
      context.translate(radius, radius);
      function color() {
        var ti = (new Date).getTime();
          i = parseInt(ti.toString()[ti.toString().length - 5], 10);
          var r = Math.floor( Math.sin(i) * 127 + 128 );
          var g = Math.floor( Math.sin(i + 2) * 127 + 128 );
          var b = Math.floor( Math.sin(i + 3) * 127 + 128 );
          return 'rgb(' + r + ', ' + g + ',' + b + ')';
      }
      setInterval(function() {
        for (var j = 0; index < total && j < speed; ++j) {
          var radius = spacing * Math.sqrt(++index),
              angle = index * theta,
              x = radius * Math.cos(angle),
              y = radius * Math.sin(angle);
          context.beginPath();
          context.arc(x, y, size, 0, 2 * Math.PI);
          context.fillStyle = context.strokeStyle = color();
          context.stroke();
        }
      }, 1000/30);
      canvas.addEventListener('click', function(evt){
        var url = canvas.toDataURL("image/png");
        window.andjoshWindow = window.open(url, 'andjoshWindow');
      });
    })(this, this.document);