extends layout

block content
  #main
    .text-center
      include bijousvg
    h1
      a(href="http://andjosh.com") Josh Beckman
    p I build things for the internet and for your phones. 
    p What do you do? Whatever, I'm sure we would enjoy talking. 
    p Email me: 
      a(href="mailto:email@andjosh.com?subject=I want to work with you!", title="Email Josh").ga-link-trackable email@andjosh.com
      | . Tweet at me: 
      a(href="http://twitter.com/jbckmn", title="@jbckmn").ga-link-trackable @jbckmn
      | . My home page is at 
      a(href="http://andjosh.com", title="andjosh.com").ga-link-trackable andjosh.com
      | .