@font-face {
  font-family: 'Clear Sans';
  src: url('fonts/clearsans/EOT/ClearSans-Regular.eot?-duhfd5');
  src: url('fonts/clearsans/EOT/ClearSans-Regular.eot?#iefix-duhfd5') format('embedded-opentype'),
    url('fonts/clearsans/WOFF/ClearSans-Regular.woff?-duhfd5') format('woff'), 
    url('fonts/clearsans/TTF/ClearSans-Regular.ttf?-duhfd5') format('truetype'), 
    url('fonts/clearsans/SVG/ClearSans-Regular.svg?-duhfd5') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans Medium';
  src: url('fonts/clearsans/EOT/ClearSans-Medium.eot?-duhfd5');
  src: url('fonts/clearsans/EOT/ClearSans-Medium.eot?#iefix-duhfd5') format('embedded-opentype'),
    url('fonts/clearsans/WOFF/ClearSans-Medium.woff?-duhfd5') format('woff'), 
    url('fonts/clearsans/TTF/ClearSans-Medium.ttf?-duhfd5') format('truetype'), 
    url('fonts/clearsans/SVG/ClearSans-Medium.svg?-duhfd5') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'Clear Sans', Helvetica, sans-serif;
  font-weight: 400;
  color: #2e393c;
  background: #ffffff;
  font-size: 16px;
  line-height: 25px;
}
.font-reg{
  font-family: 'Clear Sans';
}
.font-med{
  font-family: 'Clear Sans Medium';
}
body *{
  box-sizing:border-box;
}
h1,h2,h3,h4,h5{
  font-family: "Clear Sans Medium", Helvetica, sans-serif;
  font-weight: 400;
}
a {
  color: #24B1E0;
  text-decoration: none;
  cursor: pointer;
  transition: color 2s;-moz-transition: color 2s;-webkit-transition: color 2s;-o-transition: color 2s;
}
a:hover{
  color:#222a66;
}
code {
  background-color:#f5f5f5;
  padding:0.4em 0.6em;
}
pre, pre.prettyprint{
  background: #f5f5f5;
  margin: 0;
  padding: 7px 10px;
  font-size: 14px;
  border:none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 1;
}
pre code{
  padding: 0px;
}
.greened{
  color: #45CB46;
}
.red{
  color: #F80F40;
}
.btn{
  color: white;
  background-color: #45CB46;
  padding: 0.3em 0.5em;
  border-radius: 4px;
  border: none;
  font-family: 'Clear Sans';
}
.btn:hover{
  border:#45CB46 !important;
  background-color: #45CB46;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.dollars-label{
  text-align: right;
  font-size: 1.2em !important;
  vertical-align: bottom;
  padding-right: 5px;
}
.sole{
  max-width: 1200px;
  text-align: center;
  max-width: 1200px;
  margin: 0px auto;
  color: #eee;
  text-transform: uppercase;
  font-size: 0.8em;
}
.sole ul{
  list-style: none;
  margin:0;
  padding:5px 0;
}
.sole li{
  display: inline-block;
  margin: 0 1em;
}
.sole a{
  color: #eee;
}
#content{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}
.borders {
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
}
#search-field{
  height: 1.8em;
  font-family: "Clear Sans";
  border: none;
  border-bottom: 2px solid #aaa;
  margin-left: 1em;
  border-radius: 0px;
  width: 150px;
}
#search-field:focus{
  outline: none;
}
#search-submit {
  border: none;
  border-top: 2px solid #258ecd;
  border-bottom: 2px solid #258ecd;
  background: rgba(37,142,205,0);
  height: 33px;
  color: #258ecd;
  font-family: "Clear Sans";
  border-radius: 0px;
}
.invisible{visibility: hidden;}
.visible{visibility: visible;}
.transition{transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;}
.btn-danger{
  background-color: rgba(194,89,117,0.75);
}
.btn-danger:hover{
  background-color: rgba(194,89,117,0.5);
}
.message, .error {
  line-height: 3em;
  margin: 0 0 1em 0;
  padding: 0.5em 2em;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 3px;
}
.message {
  color: #384682;
  background-color: #c3cbf0;
}
.error {
  color: #ad8600;
  background-color: #feffab;
}
.lead {
  font-size: 1.5em;
}
.muted{
  opacity: 0.5;
}
.name-link{
  font-family: 'Clear Sans Thin';
  text-transform: uppercase;
}
.face-img{
  width:25px;
  height: auto;
  border-radius: 50%;
  float: right;
}
.full-animation-div{
  background:white;
  height:100%;
  width:100%;
  position:absolute;
  z-index: -1;
}
#home-anim-div{
  background: transparent;
  z-index: 0;
  position: absolute;
}

#contact-form{
  margin: 5em auto 0;
  max-width: 400px;
  font-size: 0.9em;
  text-align: left;
  line-height: 1.7em;
  padding: 0 1em;
  word-wrap: break-word;
}
#contact-form label{

}
#contact-form input{
  border: none;
  border-bottom: 1px dashed;
  text-align: center;
  font-family: 'Clear Sans';
  border-radius: 0px;
  color: #aaa;
}
#contact-form input:focus{
  border-bottom-style: solid;
  box-shadow: none;
  outline: none;
}
#contact-form input[name="name"]{
  width: 5.1em;
}
#contact-form input[name="_replyto"]{
  width: 7.7em;
}
#contact-form input[name="message"]{
  width: 17.1em;
}
#contact-form input[type="submit"]{
  display: block;
  border: none;
  padding: 0.5em 1em;
  margin: 1em auto;
  color: white;
}
#contact-form input[type="submit"]:focus, #contact-form input[type="submit"]:hover{
  border-bottom-style: dashed;
}
#heady{
  max-width: 580px;
  margin:0 auto;
  padding:20px;
  background:rgba(255,255,255,0.6);
  position: relative;
  z-index: 1;
}
#heady.blog{
  width:200px;
  position: fixed;
  top: 200px;
  left: 0;
  bottom: 0;
  border-right: 1px solid #eee;
}
#heady.blog .headline{
  font-size: 26px;
  margin-top: 0px;
}
.top-links{
  list-style:none;
  margin:0;
  padding:0;
}
.top-links li a, .top-links li span{
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: inline-block;
  border-left: 1px solid #aaa;
  border-bottom-color: #222;
}
.top-links li a:after, .top-links li span:after{
  content: '';
  border-bottom-width: 1px;
  border-bottom-style: solid; 
  border-bottom-color: #aaa;
  width: 0%;
  position: relative;
  left: -10px;
  top: 3px;
  display: block;
  transition: 3s;-moz-transition: 3s;-webkit-transition: 3s;-o-transition: 3s;
}
.top-links.active li a:after, .top-links.active li span:after{
  width: 100%;
  padding-right: 20px;
}
.work-desc{
  color: #555;
  padding: 4em 1em 0;
  text-align: justify;
}
.foot-credit{
  max-width: 580px;
  padding: 10px 20px 0;
  text-align: center;
  border-top: 1px solid #aaa;
  margin:0 auto 20px;
  background: rgba(255,255,255,0.6);
  position: relative;
  z-index: 1;
}
.foot-credit.blog{
  margin-left: 200px;
}
.headline{
  font-size: 2.05em;
}
.lede{
  width: 13em;
  padding: 0.5em;
  margin: 1em auto 3em;
}
.turned-fast{
  animation: turn 1s;
  -moz-animation: turn 1s;
  -ms-animation: turn 1s;
  -webkit-animation: turn 1s;
  -webkit-perspective:1000px;
  perspective:1000px;
}
@keyframes turn{
  from {
    transform: perspective(1000px) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateY(360deg);
  }
}
@-ms-keyframes turn{
  from {
    -ms-transform: perspective(1000px) rotateY(0deg);
  }
  to {
    -ms-transform: perspective(1000px) rotateY(360deg);
  }
}
@-webkit-keyframes turn{
  from {
    -webkit-transform: perspective(1000px) rotateY(0deg);
  }
  to {
    -webkit-transform: perspective(1000px) rotateY(360deg);
  }
}
@-moz-keyframes turn{
  from {
    -moz-transform: perspective(1000px) rotateY(0deg);
  }
  to {
    -moz-transform: perspective(1000px) rotateY(360deg);
  }
}

.boxed{
  border: 1px solid #aaa;
  border-radius: 3px;
  background: #ffffff;
  position: relative;
  z-index: 100;
}
.a-project{
  width: 320px;
  height: 320px;
  margin: 2em auto;
  display: block;
  overflow: hidden;
}
.a-project.links{
  height: auto;
}
.a-project h3{
  margin: 0px 0px -4em;
  padding: 1em 0px;
  background: rgba(255,255,255,0.5);
  line-height: 1em;
  position: relative;
  z-index: 10;
}
.lede a{
  display: inline-block;
  margin: 0 0.5em;
}
.lede a span{
  color: #aaa;
}
.a-project svg{

}
svg:not(:root) {
  overflow: visible;
  position: relative;
  top: 20px;
}
svg#bijou{
  visibility: visible;
  height:200px;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  border-right: 1px solid #eee;
}
#building-blocks{
  height: 160px;
  position: fixed;
  top: 0px;
  left: 0px;
}
#building-blocks[name="penrose"]{
  width: 185px;
}
#building-blocks[name="bijou"]{
  width: 105px;
}
#building-blocks a{
  position: relative;
  top: 140px;
  left: 19px;
  visibility: hidden;
  opacity: 0;
}
#building-blocks[name="penrose"] a{
  left: 60px;
}
#building-blocks.turned-fast a{
  visibility: visible;
  opacity: 1;
}
.building-block{
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  display: block;
  border-right: 2px solid;
  width: 1px;
  transition: color 3s;
  -moz-transition: color 3s;
  -webkit-transition: color 3s;
  -o-transition: color 3s;
}

.blog-list{
  max-width: 580px;
  margin-left: 200px;
}
article.article-wrap{
  background: transparent;
}
article.article-wrap.in-roll{
  margin-bottom: 5em;
}
.blog-post-date{
  display: block;
  margin: 0 auto;
  max-width: 580px;
  background: rgba(255,255,255,0.6);
  position: relative;
  z-index: 1;
  text-align: center;
}
.blog-list .blog-post-date{
  text-align: left;
}
.blog-post-date.blog{
  margin:0;
  margin-left: 200px;
}
.blog-post-date a{
  padding: 0 0.5em;
  border-top: 1px solid #aaa;
  padding-left: 20px;
  padding-right: 20px;
}
.blog-post-title{
  font-size: 1.75em;
  max-width: 580px;
  margin: 0 auto;
  padding: 1em 20px;
  position: relative;
  z-index: 1;
  background: rgba(255,255,255,0.6);
  line-height: 1.2em;
}
.blog-post-title a{
  color: #222;
  text-transform: none;
  border: none;
}
.blog-post-link span{
  color: #24B1E0;
  position: relative;
  left: 0px;
  transition: left 0.3s;
  -moz-transition: left 0.3s;
  -webkit-transition: left 0.3s;
  -o-transition: left 0.3s;
}
.blog-post-link:hover span{
  left: 5px;
}
.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5{
  font-family: 'Clear Sans';
  max-width: 580px;
  margin: 0 auto;
  display: block;
  padding: 1em 20px;
  position: relative;
  z-index: 1;
  background: rgba(255,255,255,0.6);
}
.post-body pre code{
  max-width: 540px;
  margin: 0 auto;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}
.post-body p, .post-body ul, .post-body blockquote, .post-body hr, .post-body form{
  max-width: 580px;
  margin: 0 auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(255,255,255,0.6);
  position: relative;
  z-index: 1;
}
.post-body form input, .post-body form label{
  font-family: 'Clear Sans';
}
.post-body ul{
  padding-left: 40px;
}
.post-body blockquote{
  font-weight: 400;
  font-family: "Clear Sans Medium";
  border-left: 0.25em solid #24B1E0;
  margin:0 auto;
  padding:1px 15px;
  max-width: 580px;
}
.post-body blockquote p{
  padding-left: 0;
  padding-right: 0;
}
.post-body p{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.post-colors{
  max-width: 580px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  background: rgba(255,255,255,0.6);
}

.post-image{
  margin: 0 auto;
  max-width: 580px !important;
  width:100%;
  display: block;
  position: relative;
  z-index: 100;
}
.post-body img{
  max-width: 540px !important;
  width:100%;
  display: block;
  position: relative;
  z-index: 100;
}

.lightbox{
  overflow: hidden;
  overflow-x: scroll;
  margin:0;
  padding: 0;
  height:0;
  display: none;
}
.gallery{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: block;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.gallery li{
  display: inline;
  margin: 0;
  padding: 0;
  position: relative;
}
.gallery li img{
  position: relative;
  max-height: 450px;
  margin:3px;
  border-radius:3px;
}
p.gallery-image{
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
}
#post-editor{
}
.unpub-list{
  list-style: none;
  margin:0px;
}
.unpub-list li{

}
.unpub-list li a {
  display: inline-block;
  padding: 3px 10px;
  border-bottom:1px solid #ddd;
}
#editor-controls{
  border-top: 1px solid #aaa;
  padding: 0.5em;
}
#post-editor .pure-form *{
  font-family: 'Clear Sans';
}
#raw-button, #preview-button, #posts-button, #draft-button, #pub-button{
  background: transparent;
  border: none;
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
  font-size: 0.8em;
}
#raw-button, #preview-button{
  float: right;
}

.mono{
  font-family: monospace;
}
.back-door{
  position: fixed;
  border-right: 1px solid #aaa;
  top: 0px;
  bottom: 0px;
  z-index: -100;
  margin-top: -163px;
}

p.share-links{
  padding-left: 0;
  padding-top: 2em;
  padding-bottom: 3px;
}
.share-links a.twitter-count{
  border-right:1px solid #aaa;
  border-bottom:1px solid #aaa;
  padding:4px 10px 4px 15px;
}
.share-links a.facebook-count{
  border-bottom:1px solid #aaa;
  padding:4px 15px 4px 10px;
}
.share-links a span{
  position: relative;
  top: 1px;
  left: -2px;
}
.meta-links{
  max-width:580px;
  display: block;
  margin:0 auto;
  padding:1em 10px 7px;
  border-left:1px solid #aaa;
  position: relative;
  z-index: 1000;
  background: rgba(255,255,255,0.6);
}
.meta-links:after{
  content:'';
  border-bottom:1px solid #aaa;
  width:460px;
  display: block;
  position: relative;
  top: 7px;
  left: -10px;
  z-index: 1;
}
.meta-links .icon-shuffle{
  position: relative;
  top:2px;
}
#newsletter_signup{
  width: 280px;
  margin-top:0;
  margin-bottom: 0;
  margin-left: 350px;
  border-radius:0;
  border-right:none;
  border-top:none;
  border-bottom:none;
}
#newsletter_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 auto 15px; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;font-family: 'Clear Sans';}
#tlemail {
  border-radius:4px; 
  color: #222222;
  font-size:15px;
  padding: 1px 2px 3px;
  text-align: center;
  border:1px solid #ccc;
  font-family: 'Clear Sans';
}
#newsletter_signup .button:hover {background-color:#999;}

@media screen and (max-height: 26.375em){

    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
    .face-img{
      width: 34px;
    }
    .cbp-spmenu-right {
        right: -190px;
    }
    #main-menu-button.menu-open span{
      right: 190px;
    }
}

@media only screen and (max-width :767px){

}
@media only screen and (max-width :500px){
  body{
    font-size: 16px;
  }
}
@media (light-level: dim) {
  .day, .day input{
    background-color:rgba(0,0,0,0.8);
    color:#eee;
  }
  .day code{
    color:#222;
  }
  .day .blog-post-title a{
    color: #ffffff;
  }
}
