@import url('http://fonts.googleapis.com/css?family=Oswald:300|Open+Sans:300,600');
@import url('pure-min.css');
@import url('default.css');
body{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #222;
  background-color: rgba(94,91,214, 1);
  font-size: 15px;
  box-sizing: border-box;
  transition: background 0.7s;-moz-transition: background 0.7s;-webkit-transition: background 0.7s;-o-transition: background 0.7s;
}
main{
  background-color: white;
  margin-bottom: 1em;
}
h1,h2,h3,h4,h5{
  font-family: "Oswald", Helvetica, sans-serif;
  font-weight: 300;
}
blockquote{
  font-weight: 600;
  border-left: 3px solid rgba(94,91,214,0.8);
  margin-left: 0;
  padding-left: 40px;
}
a {
  color: #5e5bd6;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
a:hover{
  color:#258ecd;
}
.btn{
  color: white;
  background-color: lightcoral;
  padding: 0.3em 0.5em;
  border-radius: 4px;
  border: none;
}
.btn:hover{
  border:none !important;
  background-color: coral;
}
.text-center {
  text-align: center;
}
#content{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}
#search-field{
  height: 1.8em;
  font-family: "Open Sans";
  padding-bottom: 3px;
  padding-top: 0px;
  padding-left: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  box-shadow: 0 0 3px #333 inset;
  width: 9em;
}
#search-submit {
  border: 2px solid #258ecd;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background: rgba(37,142,205,0.07);
  height: 2em;
  color: #258ecd;
  font-family: "Open Sans";
}
.invisible{visibility: hidden;}
.visible{visibility: visible;}
.transition{transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;}
.btn-danger{
  background-color: rgba(194,89,117,0.75);
}
.btn-danger:hover{
  background-color: rgba(194,89,117,0.5);
}
code {background-color:#eee;padding:0.4em 0.6em;line-height: 2.5em;}
.message, .error {
  line-height: 3em;
  margin: 0 0 1em 0;
  padding: 0.5em 2em;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 3px;
}
.message {
  color: #384682;
  background-color: #c3cbf0;
}
.error {
  color: #ad8600;
  background-color: #feffab;
}
.lead {
  font-size: 1.5em;
}
.muted{
  opacity: 0.5;
}
.face-img{
  width:57px;
  height: auto;
  float: right;
  margin-top: -8px;
  margin-right: -15px;
}
.name-header{
  display: inline-block;
  font-size: 25px;
  margin: 0.5em 0;
}
#thoughtBubble.hint{
  display: inline-block;
  opacity: 0;
  font-size: 0.7em;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  padding-left: 0.4em;
  color: grey;
  text-decoration: none;
  cursor: pointer;
  transition: 1s;-moz-transition: 1s;-webkit-transition: 1s;-o-transition: 1s;
}
.blog-post-wrapper{
  margin-bottom: 4em;
}
article#single-post {
  max-width: 600px;
  margin: 0 auto;
}
.blog-post-title{
  font-size: 2.5em;
}
.post-date{
  float: right;
  margin-top: 3.5em;
  padding-right: 1em;
  opacity: 0;
}
.date-fadeIn{
  opacity: 0.5;
}
.post-links{
  margin-top: 3em;
}
.post-links .back-button{
  border: 2px solid rgba(94,91,214, 0.75);
  border-radius: 3px;
  padding: 0.2em 0.5em;
  background: transparent;
  color: rgba(94,91,214, 0.75);
}
.post-links p a{
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 1.25em;
}
.post-links p{
  margin-top: 5em;
}
#about{
  box-sizing:border-box;
  padding-left: 20px;
  text-align: left;
}
#contact{
  box-sizing:border-box;
  text-align: left;
  padding-right: 20px;
}
.lightbox{
  overflow: hidden;
  overflow-x: scroll;
  margin:0;
  padding: 0;
  height:0;
  padding-top: 100px;
}
.gallery{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: block;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.gallery li{
  display: inline;
  margin: 0;
  padding: 0;
  position: relative;
}
.gallery li img{
  position: relative;
  max-height: 450px;
  margin:3px;
  border-radius:3px;
}
p.gallery-image{
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
}
#post-editor{
}
#editor-controls{
  border-top: 1px solid #aaa;
  padding: 0.5em;
}
#post-title-editor{
 border-bottom: 2px solid rgba(94,91,214, 0.5);
 min-height: 1em; 
 padding: 0.5em;
}
#post-title-editor:focus, #post-body-editor:focus{
  outline: none;
}
#post-body-editor{
  min-height: 15em;
  padding: 1em;
  color: black;
}
#raw-button, #preview-button, #posts-button, #draft-button, #pub-button{
  background: transparent;
  border: none;
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
  font-size: 0.8em;
}
#raw-button, #preview-button{
  float: right;
}

.mono{
  font-family: monospace;
}
#main-menu-button{
  color: #aaa;
  position: fixed;
  background: transparent;
  border: none;
  font-size: 2em;
  right: 0;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cbp-spmenu {
    background: rgba(255,255,255,0.95);
    position: fixed;
    overflow-y: scroll;
}
.cbp-spmenu h3 {
  color: darkgrey;
  padding: 20px 20px 5px 20px;
  margin: 0;
}
.cbp-spmenu a {
    display: block;
}
.cbp-spmenu p {
  margin-left: 1em;
}
.cbp-spmenu small a:hover{
  background-color: transparent;
}
.cbp-spmenu a:hover {
    background: #ddd;
    color: black;
}
 
.cbp-spmenu a:active {
}
  
.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}
 
.cbp-spmenu-vertical a {
    padding: 0.25em 1em;
}
 
/* Vertical menu that slides from the left or right */
 
.cbp-spmenu-right {
    right: -240px;
}
 
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
    box-shadow: -3px 0 3px 0px rgba(0,0,0,0.1);
}
#main-menu-button.menu-open {
  right: 240px;
  color: black;
  background-color: rgba(255,255,255,0.9);
}
/* Transitions */
 
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#main-menu-button span {
    position: fixed;
    cursor: pointer;
    top: 30px;
    right: 20px;
    display: block;
    width: 30px;
    height: 4px;
    margin-top: -2px;
    background-color: #aaa;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#main-menu-button span:before,
#main-menu-button span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #aaa;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

#main-menu-button span:before {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
}

#main-menu-button span:after {
    -webkit-transform: translateY(250%);
    transform: translateY(250%);
}
#main-menu-button.menu-open span{
  background-color: transparent;
  right: 250px;
}
#main-menu-button.menu-open span:before {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

#main-menu-button.menu-open span:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}
 
@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
    .face-img{
      width: 34px;
    }
    .cbp-spmenu-right {
        right: -190px;
    }
    #main-menu-button.menu-open span{
      right: 190px;
    }
}

b.stars, b.forks{ font-weight: bold; display: inline-block; } b.stars:before, b.forks:before{ display: inline-block; font-size: 14px; width: 20px; text-align: center; } b.stars:before{ content: '\2605'; } b.forks:before{ content: '\2646'; }
.Arduino{color: #bd79d1;} .Java{color: #b07219;} .VHDL{color: #543978;} .Scala{color: #7dd3b0;} .Emacs .Lisp{color: #c065db;} .Delphi{color: #b0ce4e;} .Ada{color: #02f88c;} .VimL{color: #199c4b;} .Perl{color: #0298c3;} .Lua{color: #fa1fa1;} .Rebol{color: #358a5b;} .Verilog{color: #848bf3;} .Factor{color: #636746;} .Ioke{color: #078193;} .R{color: #198ce7;} .Erlang{color: #949e0e;} .Nu{color: #c9df40;} .AutoHotkey{color:#6594b9;} .Clojure{color: #db5855;} .Shell{color: #5861ce;} .Assembly{color: #a67219;} .Parrot{color: #f3ca0a;} .C#{color: #5a25a2;} .Turing{color: #45f715;} .AppleScript{color: #3581ba;} .Eiffel{color: #946d57;} .Common .Lisp{color: #3fb68b;} .Dart{color: #cccccc;} .SuperCollider{color: #46390b;} .CoffeeScript{color: #244776;} .XQuery{color: #2700e2;} .Haskell{color: #29b544;} .Racket{color: #ae17ff;} .Elixir{color: #6e4a7e;} .HaXe{color: #346d51;} .Ruby{color: #701516;} .Self{color: #0579aa;} .Fantom{color: #dbded5;} .Groovy{color: #e69f56;} .C{color: #555;} .JavaScript{color: #f15501;} .D{color: #fcd46d;} .ooc{color: #b0b77e;} .C++{color: #f34b7d;} .Dylan{color: #3ebc27;} .Nimrod{color: #37775b;} .Standard .ML{color: #dc566d;} .Objective-C{color: #f15501;} .Nemerle{color: #0d3c6e;} .Mirah{color: #c7a938;} .Boo{color: #d4bec1;} .Objective-J{color: #ff0c5a;} .Rust{color: #dea584;} .Prolog{color: #74283c;} .Ecl{color: #8a1267;} .Gosu{color: #82937f;} .FORTRAN{color: #4d41b1;} .ColdFusion{color: #ed2cd6;} .OCaml{color: #3be133;} .Fancy{color: #7b9db4;} .Pure .Data{color: #f15501;} .Python{color: #3581ba;} .Tcl{color: #e4cc98;} .Arc{color: #ca2afe;} .Puppet{color: #cc5555;} .Io{color: #a9188d;} .Max{color: #ce279c;} .Go{color: #8d04eb;} .ASP{color: #6a40fd;} .Visual .Basic{color: #945db7;} .PHP{color: #6e03c1;} .Scheme{color: #1e4aec;} .Vala{color: #3581ba;} .Smalltalk{color: #596706;} .Matlab{color: #bb92ac;} .C#{color: #bb92af;}
#repos-list, #stars-list{ margin: 0; padding: 0; list-style: none; } #repos-list li, #stars-list li{ display: inline; } #repos-list li a, #stars-list li a{ position: relative; display: block; line-height: 20px; padding: 1em 0; overflow: hidden; border:none; } #repos-list li a:hover, #stars-list li a:hover{ background-color: rgba(0,0,0,0.05); } #repos-list li.fork a:before, #stars-list li.fork a:before{ color: #999; content: '\2646'; position: absolute; left: 5px; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); } #repos-list li a .desc, #stars-list li a .desc{ color: #fff; display: inline-block; line-height: 1.3em; margin-left: .5em; } #projects-info, #repos-list li a .info, #stars-list li a .info{ float: right; clear: right; }
@media only screen and (max-width :767px){
  .post-date{
    margin: 0;
    float: left;
  }
}
@media only screen and (max-width :500px){
  #thoughtBubble.hint{
    display: none;
  }
}