body, input, textarea{
  font-family: 'Vollkorn', Georgia, serif;
  font-weight: 400;
  color: #3f3f3f;
  background: #ffffff;
  font-size: 16px;
  line-height: 25px;
}
body *{
  box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6, button{
  font: 24px/28px 'Unica One', Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 10px 30px;
}
h6{
  font-size: 14px;
  line-height: 18px;
  margin: 20px 10px 10px;
}
a {
  color: #c31;
  text-decoration: underline;
  cursor: pointer;
}
a:focus{
  outline: none;
  background-color:rgba(0,0,0,0.1);
}
h1 a, h2 a, h3 a, h4 a, h5 a{
  text-decoration:none;
}
#main{
  max-width: 460px;
  width: 100%;
  text-align: justify;
  margin: 20px auto 100px;
}
hr.large{
  margin: 2em 0;
}
img{
  max-width: 100%;
}
article{
  margin-bottom: 75px;
}
code {
  background-color:#f5f5f5;
  padding:0.4em 0.6em;
}
pre, pre.prettyprint{
  background: #f5f5f5;
  margin: 0;
  padding: 7px 10px;
  font-size: 14px;
  border:none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 1;
}
input, textarea{
  width: 100%;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.blog-search input{
display: inline-block;
width: 8em;
border:none;
border-bottom:1px solid;
line-height: 16px;
padding:0 5px;
}
.blog-search input:focus{
outline:none;
}
.blog-search button{
border:1px solid;
background:#fff;
font-size: 15px;
color:#c31;
line-height: 15px;
padding:5px 10px;
}

#bijou{
  width: 100px;
  height: 100px;
}

#post-editor input, #post-editor textarea{
  border: none;
  padding: 5px;
  text-align: justify;
  white-space: normal;
}
#post-editor input:focus, #post-editor textarea:focus{
  outline: none;
}
#post-title-editor{
  font-family: 'Unica One', Helvetica, sans-serif;
  text-transform: uppercase;
}
#post-editor label h5{
  opacity: 0.5;
}

.canvas {
  margin:0 auto;
  display:block;
}
.canvas:hover{
  cursor: pointer;
}

@media only screen and (max-width :767px){

}
@media only screen and (max-width :500px){
  #main{
    padding: 0 10px;
  }
}
